@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  padding: 40px;
  background-color: #121212;
}

p {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  color: rgba(255, 255, 255, .70);
  margin: 0 auto;
}

/* Animation */
.typewritter_on {
  visibility: visible;
  border-right: solid 3px rgba(0, 255, 0, .75);
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end);
}

.typewritter_off {
  visibility: hidden;
}

/* text animation */
@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 472px;
  }
}

/* cursor animations */
@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, .75);
  }

  to {
    border-right-color: transparent;
  }
}

#logo {
  margin-top: 100px;
}

#logo{
  margin-top: 10%;
  margin: 0 auto;
  width: 30%;
  height: 30%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.logo_hissing {
  margin: 0 auto;
  width: 500px;
  height: 300px;
  animation-name: hissing;
  animation-duration: 90s;
}

.logo_regular {
  background-image: url('images/python_eyes_middle.png');
  background-repeat: no-repeat;
}

.logo_no_tounge {
  background-image: url('images/python_logo_no_tongue.png');
  background-repeat: no-repeat;
}

@keyframes hissing {
  from {
    background-image: url('images/python_eyes_middle.png');
    background-repeat: no-repeat;
  }

  to {
    background-image: url('images/python_logo_no_tongue.png');
    background-repeat: no-repeat;
  }
}
